################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ELocal.csproj.user
/.vs/slnx.sqlite
/.vs/ELocal
