@{
    ViewData["Title"] = "Home";
}

<div class="hero-section">
    <h1>ELocal</h1>
    <p>Tu App de Eventos por Todo el País</p>
      
    <div class="stats">
        <div>
            <h2>31</h2>
            <p>Provincias</p>
        </div>
        <div>
            <h2>200+</h2>
            <p>Viajeros Felices</p>
        </div>
        <div>
            <h2>100+</h2>
            <p>Nuevas amistades</p>
        </div>
    </div>


    
    <button onclick="location.href='@Url.Action("BuyTicket", "Home")'">Buy Ticket</button>

   <div class="stats">
  <table class="description-table">
        <tr>
            <td class=""><img src="https://zcube.in/eventes/img/calendar.png" alt="Study Icon"></td>
            <td class="text1">Study in a newly-refreshed campus located in the heart of Berlin, Europe's start-up capital. Berlin is a fantastic place to study as there are numerous opportunities for students and professionals alike.</td>
        </tr>
        <tr>
            <td class=""><img src="https://zcube.in/eventes/img/comments.png" alt="Chat Icon"></td>
            <td class="text1">Engage with top professionals and gain insights into the digital business at Berlin.</td>
        </tr>
    </table>
   </div>
</div>