@{
    ViewData["Title"] = "Home";
}

<div class="hero-section">
    <h1>Join us at 110th oVent Expo.</h1>
    <p>Shift your perspective on digital business.</p>
      
    <div class="stats">
        <div>
            <h2>20+</h2>
            <p>Sponsors</p>
        </div>
        <div>
            <h2>5+</h2>
            <p>Happy People</p>
        </div>
        <div>
            <h2>100+</h2>
            <p>Cool Speakers</p>
        </div>
    </div>


    
    <button onclick="location.href='@Url.Action("BuyTicket", "Home")'">Buy Ticket</button>

   <div class="stats">
  <table class="description-table">
        <tr>
            <td class=""><img src="https://zcube.in/eventes/img/calendar.png" alt="Study Icon"></td>
            <td class="text1">Study in a newly-refreshed campus located in the heart of Berlin, Europe's start-up capital. Berlin is a fantastic place to study as there are numerous opportunities for students and professionals alike.</td>
        </tr>
        <tr>
            <td class=""><img src="https://zcube.in/eventes/img/comments.png" alt="Chat Icon"></td>
            <td class="text1">Engage with top professionals and gain insights into the digital business at Berlin.</td>
        </tr>
    </table>
   </div>
</div>