@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="">Schedule</h2>
<p>Check out our exciting schedule for the upcoming event!</p>
<iframe src="https://calendar.google.com/calendar/embed?src=es.do%23holiday%40group.v.calendar.google.com&ctz=America%2FSanto_Domingo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<!-- Puedes agregar una tabla o cualquier estructura que prefieras para mostrar el calendario de eventos -->