@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="">Schedule</h2>
<p>Check out our exciting schedule for the upcoming event!</p>

<!-- Puedes agregar una tabla o cualquier estructura que prefieras para mostrar el calendario de eventos -->